<h2>Lista de Tipo de Cambio en Rango de Fechas</h2>

<!-- Calendario para fecha inicial -->
<div class="form-group">
  <label for="fechaInicial">Fecha Inicial:</label>
  <input type="date" class="form-control" id="fechaInicial" placeholder="Seleccionar fecha inicial" [(ngModel)]="fecha_ini" max="{{ maxFecha }}" required>
  <div class="alert alert-danger" *ngIf="!fecha_ini && fecha_ini?.touched">
      La fecha inicial es obligatoria.
  </div>
</div>

<!-- Calendario para fecha final -->
<div class="form-group">
  <label for="fechaFinal">Fecha Final:</label>
  <input type="date" class="form-control" id="fechaFinal" placeholder="Seleccionar fecha final" [(ngModel)]="fecha_final" max="{{ maxFecha }}" required>
  <div class="alert alert-danger" *ngIf="!fecha_final && fecha_final?.touched">
      La fecha final es obligatoria.
  </div>
</div>

  <!-- Botón para enviar fechas -->
<button type="button" class="btn btn-primary" (click)="enviarFechas()">Enviar Fechas</button>

<!-- Alerta para campos vacíos -->
<div class="alert alert-danger" role="alert" *ngIf="!fecha_ini || !fecha_final">
    Por favor, selecciona ambas fechas.
</div>

<div *ngIf="AlertaExito" class="alert alert-success" role="alert">
  ¡Datos encontrados con éxito!
</div>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>fecha</th>
            <th>compra</th>
            <th>venta</th>
            <th>moneda</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tc of tipoCambio | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalItems }">
            <td>{{tc.fecha}}</td>
            <td>{{tc.compra}}</td>
            <td>{{tc.venta}}</td>
            <td>{{tc.moneda}}</td>
        </tr>
    </tbody>
</table>

<div class="pagination">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

<script>
    function enviarFechas() {
      var fechaInicial = "{{fecha_ini}}";
      var fechaFinal = "{{fecha_final}}";

      if (!fechaInicial || !fechaFinal) {
        // Mostrar alerta si falta alguna fecha
        alert("Por favor, selecciona ambas fechas.");
        return;
      }
      
      // Aquí deberías hacer lo que necesites con las fechas, como enviarlas al backend
      obtenerTipoCambioRango(fechaInicial, fechaFinal);

    }
  </script>